.env
.eslintrc
.eslintignore
.prettierrc
.env.example.sh
CHANGELOG.md

.editorconfig
.lintstagedrc.json

serverless.yml
commitlint.config.js

test
coverage
.serverless/*
node_modules/*

.git/*
.gitignore
